<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885507963629-ocjg1ern7odu7p1pp01l9qk1tjsiioj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885507963629-ocjg1ern7odu7p1pp01l9qk1tjsiioj9</string>
	<key>API_KEY</key>
	<string>AIzaSyAtlhE6MlCu6NN70FHSlJf0LTAPLaedDXI</string>
	<key>GCM_SENDER_ID</key>
	<string>885507963629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Amira-Masoud.Insta</string>
	<key>PROJECT_ID</key>
	<string>insta-2f9fe</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-2f9fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885507963629:ios:7a3e6a5bd77ecc33b72ae4</string>
	<key>DATABASE_URL</key>
	<string>https://insta-2f9fe.firebaseio.com</string>
</dict>
</plist>